.preview-page {
  background-color: #2a2a2a;
  color: #d8d8d8;
  padding: 20px;
}

.project-header {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #333333;
  border-radius: 8px;
}

.project-tabs {
  margin-top: 20px;
  background-color: #444;
}

.tab-content {
  margin-top: 20px;
  padding: 20px;
  background-color: #333333;
  border-radius: 8px;
}

@media (min-width: 900px) {
  .project-main-content {
    flex-direction: row;
  }
}

.project-main-content {
  flex-direction: column;
}